 .logo{
display: inline-block;
background-color: white;
color: black;
width: 300px;
height: 146px;
position: absolute;
top: 0px;
left: 0px;
border: 2px solid #4A8A97; /* Define el borde del div */
 
   
}
  


.menu{
display: inline-block;
background-color: whitesmoke;
color: black;
width: 300px;
height: 405px;
position: absolute;
top: 150px;
left: 0px;
font-family: "Arial";
border: 2px solid #4A8A97; /* Define el borde del div */
}

.login{
display: inline-block;
background-color: whitesmoke;
color: black;
width: 300px;
height: 190px;
position: absolute;
top: 450px;
left: 0px;
font-family: "Arial";
border: 2px solid #4A8A97; /* Define el borde del div */
}

.contenido{
display: inline-block;
background-color: whitesmoke;
color: black;
width: 1010px;
height: 640px;
position: absolute;
top: 0px;
left: 303px;
bottom: 0px;
right:0px;
border: 2px solid #4A8A97; /* Define el borde del div */
}
.piePagina{
position: fixed;
bottom: 0px;
text-align: center;
right: 0px;
}



.logo img {
 
  top: 0px;
  bottom: 0px;
}
img{
   width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0; /* La imagen se ajusta a la parte superior del contenedor */
  left: 0; /* La imagen se ajusta a la izquierda del contenedor */
  opacity: 0.8; 
}

a
{
text-decoration: none; /* Elimina el subrayado */
color: black; /* Cambia el color del texto */
}

select {
    
    border: 1px solid #ccc; /* Define el borde del combobox */
    border-radius: 1px; /* Agrega bordes redondeados */
    position: absolute; /* Define la posición absoluta para posicionarlo dentro del contenedor */
    top: 20px; /* Define la distancia desde la parte superior del contenedor */
    left: 90px; /* Define la distancia desde el lado izquierdo del contenedor */
}


input[type="text"] {
    
    
    border: 1px solid #ccc; /* Define el borde del input */
    border-radius: 1px; /* Agrega bordes redondeados */
    position: absolute; /* Define la posición absoluta para posicionarlo dentro del contenedor */
    top: 55px; /* Define la distancia desde la parte superior del contenedor */
    left: 90px; /* Define la distancia desde el lado izquierdo del contenedor */
    font-family: "Arial";
}
input[type="password"] {
    
    
    border: 1px solid #ccc; /* Define el borde del input */
    border-radius: 1px; /* Agrega bordes redondeados */
    position: absolute; /* Define la posición absoluta para posicionarlo dentro del contenedor */
    top: 95px; /* Define la distancia desde la parte superior del contenedor */
    left: 90px; /* Define la distancia desde el lado izquierdo del contenedor */
    font-family: "Arial";
}


input[type="submit"] {
    padding: 8px 10px;
    font-family: "arial";
    border: 1px solid #ccc; /* Define el borde del input */
    border-radius: 1px; /* Agrega bordes redondeados */
    position: absolute; /* Define la posición absoluta para posicionarlo dentro del contenedor */
    top: 130px; /* Define la distancia desde la parte superior del contenedor */
    left: 90px; /* Define la distancia desde el lado izquierdo del contenedor */
    
}

ul {
    list-style-type: square;
}