.logo {
    display: inline-block;
    background-color: rgb(24, 150, 234);
    color: black;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid red; /* Defines div border */

}

.menu {
    display: inline-block;
    background-color: whitesmoke;
    color: black;
    width: 300px;
    height: 405px;
    position: absolute;
    top: 150px;
    left: 0px;
    font-family: "Arial";
    border: 2px solid red; /* Defines div border */
}

.login {
    display: inline-block;
    background-color: whitesmoke;
    color: black;
    width: 300px;
    height: 190px;
    position: absolute;
    top: 450px;
    left: 0px;
    font-family: "Arial";
    border: 2px solid red; /* Defines div border */
    font-weight: bold;
}

.contenido {
    display: inline-block;
    background-color: whitesmoke;
    color: black;
    width: 1010px;
    height: 640px;
    position: absolute;
    top: 0px;
    left: 303px;
    bottom: 0px;
    right:0px;
    border: 2px solid red; /* Defines div border */
}

.pie-pagina {
    position: fixed;
    bottom: 0px;
    text-align: center;
    right: 0px;
}

.logo img {
    width: 295px;
    height: 140px;
}

.a {
text-decoration: none; /* Quita subrayado */
color: black; /* Cambia color */
}

.select {
    border: 1px solid #ccc; /* ComboBox borde */
    border-radius: 1px; /* Sombra border */
    position: absolute; /* Absolute positioning */
    top: 20px; /* Distancia superior */
    left: 90px; /* Distancia inferior */
}

.input[type="text"] {
    border: 1px solid #ccc; /* Borde input */
    border-radius: 1px; /* Borde redondo */
    position: absolute; /* Absolute positioning */
    top: 55px; /* Distancia superior */
    left: 90px; /* Distancia inferior */
    font-family: "Arial";
}

.input[type="password"] {
    border: 1px solid #ccc; /* Borde input */
    border-radius: 1px; /* Borde redondo */
    position: absolute; /* Absolute positioning */
    top: 95px; /* Distancia superior */
    left: 90px; /* Distancia inferior */
    font-family: "Arial";
}

.input[type="submit"] {
    padding: 8px 10px;
    font-family: "arial";
    border: 1px solid #ccc; /* Borde input */
    border-radius: 1px; /* Borde redondo */
    position: absolute; /* Absolute positioning */
    top: 130px; /* Distancia superior */
    left: 90px; /* Distancia inferior */
}