<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>School</title>
</head>

<body>
    <main>
        <div class="logo">
            <img src="https://uh.ac.cr/img/iso.png" alt="Academy logo">
        </div>

        <div class="menu">
            <header>
                <nav>
                    <ul>
                        <li><a href="#">
                                <h3>Localización</h3>
                            </a></li> <!--falta poner los vinculos-->
                        <li><a href="#">
                                <h3>Características</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Instalaciones</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Servicios</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Información</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Proyectos de Escuela</h3>
                            </a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="login">
            <form action="../controller/login.php" method="post">
                <h>Tipo: <select id="user_type" name="user_type" title="user_type" required>
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <h4>Usuario: <input type="text" id="username" name="username" placeholder="Username" required />
                        <h4>Contraseña <input type="password" id="password" name="password" placeholder="Password"
                                required />
                            <br><br><input type="submit" name="submit" value="submit">
            </form>
        </div>

        <div class="contenido"> Content
            <footer class="pie-pagina">
                <p>&copy; 2024 My Website. All rights reserved.</p>
            </footer>
        </div>
    </main>
</body>

</html>