<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>School</title>
</head>

<body>
    <main>
        <div class="logo">
            <img src="https://uh.ac.cr/img/iso.png" alt="UH logo">
        </div>

        <div class="main-menu">
            <header>
                <nav>
                    <ul>
                        <li><a href="#">
                                <h3>Ubicacion</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Caracteristicas</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Sedes</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Servicios</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Acerca de Nosotros</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Proyectos Proximos</h3>
                            </a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="login-form">
            <form action="../controller/login.php" method="post">
                <h4>Tipo: </h4> <select id="user_type" name="user_type" title="user_type">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Admin">Admin</option>
                </select>
                <h4>Usuario:</h4><input type="text" id="username" name="username" placeholder="Username" />
                <h4>Contraseña:</h4> <input type="password" id="passwrod" name="password" placeholder="Password" />
                <input type="submit" value="submit">
            </form>
        </div>

        <div class="footer-content"> Content
            <footer class="page-footer">
                <p>&copy; 2024 My Website. All rights reserved.</p>
            </footer>
        </div>
    </main>
</body>

</html>